# phpstorm project files
.idea
# netbeans project files
nbproject
# zend studio for eclipse project files
.buildpath
.project
.settings
# windows thumbnail cache
Thumbs.db
# composer itself is not needed
composer.phar
# Mac DS_Store Files
.DS_Store
# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vendor files on repos
/yii2/vendor/*
!/yii2/vendor/admapp/
/yii2/vendor/admapp/exports/

/yii2/config/db.php
/yii2/composer.lock

/yii2/data/pde_employees.sql 

/yii2/config/web.php

